<!DOCTYPE html>
<html>
  <head>
    <title>Woofy</title>
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="/registrazione/style.css">
    <link rel="icon" type="image/x-icon" href="/immagini/logo.ico">
  </head>

  <body>
    <!-- REGISTER -->
    <div class="register">

      <h1>Woofy</h1>
      <h2>Registrati alla piattaforma</h2>

      <form action="/registrazione" method="POST">

        <input type="string" name="firstName" placeholder="nome">
        <input type="string" name="surname" placeholder="cognome">
        <input type="string" name="email" placeholder="email">
        <input type="password" name="password" placeholder="password">
        <input type="password" name="confirmPassword" placeholder="conferma password">

        <div class="pick-profession-area">
          <h3>Sei un professionista?</h3>
          <select name="profession">
            <option disabled selected>Seleziona la tua professione</option>
            <option value="Architetto">Architetto</option>
            <option value="Avvocato">Avvocato</option>
            <option value="Commercialista">Commercialista</option>
            <option value="Dentista">Dentista</option>
            <option value="Designer Di'Interni">Designer Di'Interni</option>
            <option value="Elettricista">Elettricista</option>
            <option value="Estetista">Estetista</option>
            <option value="Fisioterapista">Fisioterapista</option>
            <option value="Fotografo">Fotografo</option>
            <option value="Idraulico">Idraulico</option>
            <option value="Medico">Medico</option>
            <option value="Nutrizionista">Nutrizionista</option>
            <option value="Notaio">Notaio</option>
            <option value="Osteopata">Osteopata</option>
            <option value="Parrucchiere">Parrucchiere</option>
            <option value="Psicologo">Psicologo</option>
            <option value="Sarto">Sarto</option>
            <option value="Tatuatore">Tatuatore</option>
            <option value="Veterinario">Veterinario</option>
            <option value="Consulente Informatico">Consulente Informatico</option>
          </select>
        </div>

        <input type="city" name="city" placeholder="citta'">
        <input type="address" name="address" placeholder="indirizzo">

        <div class="register-buttons-area">
          <a href="/login">
            <button type="button">Indietro</button>
          </a>
          <button id="registerButton" class="btn btn-primary btn-lg custom-btn" type="submit" value="Continua">Continua</button>
        </div>

      </form>



    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/bootstrap.min.js"></script>
    <script src="/registrazione/script.js"></script>
  </body>

</html>