<!DOCTYPE html>
<html>
  <head>
    <title>Woofy</title>
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="/prenotazioni/style.css">
    <link rel="icon" type="image/x-icon" href="/immagini/logo.ico">
  </head>

  <body>
    <!-- NAVBAR -->
    <div class="navbar justify-content-center align-items-center">
      <a class="nav-item mx-3 fw-bold" href="/" target="_parent">Home</a>
      <a class="nav-item mx-3 fw-bold" href="/prenotazioni" target="_parent">Prenotazioni</a>
      <a class="nav-item mx-3 fw-bold" href="/prenota" target="_parent">Prenota</a>
      <a class="nav-item mx-3 fw-bold" href="/logout">Disconnettiti</a>
    </div>

    <!-- HEADER -->
    <div class="header-container d-flex flex-column align-items-center mt-5">
      <h1 class="text-light">Gestisci le tue prenotazioni</h1>
    </div>
    <% if (profession !== null) { %>
    <!-- TIME BOX -->
    <div class="container custom-container2">
      <div class="row timebox-row">
        <div class="col-8 col-lg-7">
          <div class="container custom-container3 bg-white rounded-3 p-3 mt-2">
            <!-- Scelta orari: -->
            <h3 class=" small-text d-flex justify-content-center align-items-center mb-3">Giorni ed Orari di Lavoro</h3>
            <div class="row mx-4 mb-3 custom-row">
              <div class="col">
                <button class="btn btn-primary custom-btn time-button" data-day="mon" onclick="selectDay('mon')">Lun</button>
              </div>
              <div class="col">
                <button class="btn btn-primary custom-btn time-button" data-day="tue" onclick="selectDay('tue')">Mar</button>
              </div>
              <div class="col">
                <button class="btn btn-primary custom-btn time-button" data-day="wed" onclick="selectDay('wed')">Mer</button>
              </div>
              <div class="col">
                <button class="btn btn-primary custom-btn time-button" data-day="thi" onclick="selectDay('thi')">Gio</button>
              </div>
              <div class="col">
                <button class="btn btn-primary custom-btn time-button" data-day="fri" onclick="selectDay('fri')">Ven</button>
              </div>
              <div class="col">
                <button class="btn btn-primary custom-btn time-button" data-day="sat" onclick="selectDay('sat')">Sab</button>
              </div>
              <div class="col">
                <button class="btn btn-primary custom-btn time-button" data-day="sun" onclick="selectDay('sun')">Dom</button>
              </div>
            </div>
            <!-- <h3 class="small-text d-flex justify-content-center align-items-center mb-3">Imposta gli orari:</h3> -->
            <div class="row small-row mx-4">
              <div class="col mt-1">
              <h4 class="small-text d-flex justify-content-center align-items-center mb-3">Inizio</h4>
            </div>
            <div class="col custom-col">
              <select class="form-select w-auto mx-2 mt-auto" id="start-time">
                <option disabled selected>--</option>
                <option value="08:00">08:00</option>
                <option value="09:00">09:00</option>
                <option value="10:00">10:00</option>
                <option value="11:00">11:00</option>
                <option value="12:00">12:00</option>
                <option value="13:00">13:00</option>
                <option value="14:00">14:00</option>
                <option value="15:00">15:00</option>
                <option value="16:00">16:00</option>
                <option value="17:00">17:00</option>
                <option value="18:00">18:00</option>
                <option value="19:00">19:00</option>
                <option value="20:00">20:00</option>
              </select>
            </div>
            <div class="col mt-1">
            <h4 class="small-text d-flex justify-content-center align-items-center mb-3">Fine</h4>
            </div>
            <div class="col mb-3">
              <select class="form-select w-auto mx-2 mt-auto" id="end-time">
                <option disabled selected>--</option>
                <option value="08:00">08:00</option>
                <option value="09:00">09:00</option>
                <option value="10:00">10:00</option>
                <option value="11:00">11:00</option>
                <option value="12:00">12:00</option>
                <option value="13:00">13:00</option>
                <option value="14:00">14:00</option>
                <option value="15:00">15:00</option>
                <option value="16:00">16:00</option>
                <option value="17:00">17:00</option>
                <option value="18:00">18:00</option>
                <option value="19:00">19:00</option>
                <option value="20:00">20:00</option>
              </select>
            </div>
          </div>
          <div class="row mx-2">
            <button class="btn btn-primary custom-btn time-button" onclick="saveWorkingHours()">Conferma</button>
          </div>
        </div>
      </div>
        
        
        <div class="col-4 col-lg-5">
            <div class="calendar custom-calendar bg-white rounded-3">
              <div class="calendar-header">
                  <span class="month-picker" id="month-picker">April</span>
                  <div class="year-picker">
                      <span class="year-change" id="prev-year">
                          <pre><</pre>
                      </span>
                      <span id="year">2022</span>
                      <span class="year-change" id="next-year">
                          <pre>></pre>
                      </span>
                  </div>
              </div>
              <div class="calendar-body">
                  <div class="calendar-week-day">
                      <div>Sun</div>
                      <div>Mon</div>
                      <div>Tue</div>
                      <div>Wed</div>
                      <div>Thu</div>
                      <div>Fri</div>
                      <div>Sat</div>
                  </div>
                  <div class="calendar-days"></div>
              </div>
             
              <div class="month-list"></div>
          </div>
          </div>

      </div>
    </div>
    


    <!-- ULTIME 2 PRENOTAZIONI -->
    <div class="container custom-container4 bg-white mt-5 shadow rounded-3 d-block position-static d-flex flex-column">
      <div class="row">
        <div class="col">
          <!-- Contenuto header -->
          <h2 class="d-flex justify-content-center align-items-center mt-1">Le tue ultime prenotazioni</h2>
        </div>
      </div>
      <div class="row mt-2 d-flex ">
        <div class="col d-flex justify-content-between align-items-center">
          <!-- PICTURE -->
          <div class="col-auto d-flex justify-content-center align-items-center my-2">
            <div class="picture custom-pic">
              <img src="../immagini/icone_professioni/parrucchiere_icon.png">
            </div>
          </div>
          <!-- DESCRIPTION -->
          <div class="col-auto d-flex justify-content-center align-items-center my-2 ">
            <div class="description">
              <p class="name"> Nome Professionista</p>
              <p class="location">Città, indirizzo</p>
            </div>
          </div>
          <!-- DATA -->
          <div class="col-auto d-flex justify-content-center align-items-center my-2">
            <div class="description">
              <p class="name"> Data</p>
              <p class="location">Ora</p>
            </div>
          </div>
          <!-- BUTTON -->
          <div class="col-auto d-flex justify-content-center align-items-center my-2">
            <button class="book-btn btn btn-primary custom-btn last-button">Prenota</button>
          </div>
        </div>
      </div>
      <div class="row mt-2 d-flex ">
        <div class="col d-flex justify-content-between align-items-center">
          <!-- PICTURE -->
          <div class="col-auto d-flex justify-content-center align-items-center my-2">
            <div class="picture custom-pic">
              <img src="../immagini/icone_professioni/parrucchiere_icon.png">
            </div>
          </div>
          <!-- DESCRIPTION -->
          <div class="col-auto d-flex justify-content-center align-items-center my-2 ">
            <div class="description">
              <p class="name"> Nome Professionista</p>
              <p class="location">Città, indirizzo</p>
            </div>
          </div>
          <!-- DATA -->
          <div class="col-auto d-flex justify-content-center align-items-center my-2">
            <div class="description">
              <p class="name"> Data</p>
              <p class="location">Ora</p>
            </div>
          </div>
          <!-- BUTTON -->
          <div class="col-auto d-flex justify-content-center align-items-center my-2">
            <button class="book-btn btn btn-primary custom-btn last-button">Prenota</button>
          </div>
        </div>
      </div>
    </div>
    <% } else { %>
     
<!-- VERSIONE UTENTE -->
  <div class="container custom-container2">
    <div class="row timebox-row align-items-center">
      <div class="col">
        <div class="container custom-container2 custom-containerx bg-white rounded-3 p-2">
          <h3 class="d-flex justify-content-center align-items-center mb-3">Le tue ultime prenotazioni:</h3>
          <div class="row mt-2 d-flex ">
            <div class="col d-flex justify-content-between align-items-center">
              <!-- PICTURE -->
              <div class="col d-flex justify-content-center align-items-center my-2 mx-2">
                <div class="picture custom-pic">
                  <img src="../immagini/icone_professioni/parrucchiere_icon.png">
                </div>
              </div>
              <!-- DESCRIPTION -->
              <div class="col d-flex justify-content-center align-items-center my-2 mx-3">
                <div class="description mt-2">
                  <p class="name"> Nome Professionista</p>
                  <p class="location">Città, indirizzo</p>
                </div>
              </div>
              <!-- DATA -->
              <div class="col d-flex justify-content-center align-items-center my-2 mx-3">
                <div class="description">
                  <p class="name"> Data</p>
                  <p class="location">Ora</p>
                </div>
              </div>
              <!-- BUTTON -->
              <div class="col d-flex justify-content-center align-items-center my-2 mx-3">
                <button class="book-btn btn btn-primary custom-btn user-btn last-button">Prenota</button>
              </div>
            </div>
          </div>
          <div class="row mt-2 d-flex ">
            <div class="col d-flex justify-content-between align-items-center">
              <!-- PICTURE -->
              <div class="col d-flex justify-content-center align-items-center my-2 mx-2">
                <div class="picture custom-pic">
                  <img src="../immagini/icone_professioni/parrucchiere_icon.png">
                </div>
              </div>
              <!-- DESCRIPTION -->
              <div class="col d-flex justify-content-center align-items-center my-2 mx-3">
                <div class="description mt-2">
                  <p class="name"> Nome Professionista</p>
                  <p class="location">Città, indirizzo</p>
                </div>
              </div>
              <!-- DATA -->
              <div class="col d-flex justify-content-center align-items-center my-2 mx-3">
                <div class="description">
                  <p class="name"> Data</p>
                  <p class="location">Ora</p>
                </div>
              </div>
              <!-- BUTTON -->
              <div class="col d-flex justify-content-center align-items-center my-2 mx-3">
                <button class="book-btn btn btn-primary custom-btn user-btn last-button">Prenota</button>
              </div>
            </div>
          </div>
          </div>
        </div>
        <div class="col-4 col-lg-5">
          <div class="calendar custom-calendar bg-white rounded-3">
            <div class="calendar-header">
                <span class="month-picker" id="month-picker">April</span>
                <div class="year-picker">
                    <span class="year-change" id="prev-year">
                        <pre><</pre>
                    </span>
                    <span id="year">2022</span>
                    <span class="year-change" id="next-year">
                        <pre>></pre>
                    </span>
                </div>
            </div>
            <div class="calendar-body">
                <div class="calendar-week-day">
                    <div>Sun</div>
                    <div>Mon</div>
                    <div>Tue</div>
                    <div>Wed</div>
                    <div>Thu</div>
                    <div>Fri</div>
                    <div>Sat</div>
                </div>
                <div class="calendar-days"></div>
            </div>
           
            <div class="month-list"></div>
        </div>
        </div>
    </div>
  </div>
  <% } %>
  <!-- I TUOI PROSSIMI APPUNTAMENTI -->
  <div class="container  custom-container2 custom-containerx bg-white mt-5 shadow rounded-3 d-block position-static d-flex flex-column">
    <!--IMMINENTE -->
    <div class="row">
      <div class="col">
        <!-- Contenuto header -->
        <h2 class="d-flex justify-content-center align-items-center mt-1">I tuoi prossimi appuntamenti</h2>
      </div>
    </div>
    <div class="row mt-2 d-flex ">
      <div class="col d-flex justify-content-between align-items-center">
        <!-- PICTURE -->
        <div class="col-3 d-flex justify-content-center">
          <div class="picture custom-pic">
            <img src="../immagini/icone_professioni/parrucchiere_icon.png">
          </div>
        </div>
        <!-- DESCRIPTION -->
        <div class="col-5 mt-3">
          <div class="description">
            <p class="name"> Nome Professionista</p>
            <p class="location">Città, indirizzo</p>
          </div>
        </div>
        <!-- DATA -->
        <div class="col-3 mt-3">
          <div class="description">
            <p class="name"> Data</p>
            <p class="location">Ora</p>
          </div>
        </div>
      </div>
    </div>
    <!--PROSSIMI -->
    <div class="row mt-2 d-flex">
      <!-- PULSANTI PRENOTAZIONE RAPIDA -->
  <div class="button-container">

    <div class="button-row justify"> <!-- RIGA 1 -->

      <a class="my-button rounded-3 shadow" href="../prenotazioni/prenotazioni.html">
        <img src="../immagini/icone_professioni/architetto_icon.png">
      </a>

      <a class="my-button rounded-3 shadow" href="../prenotazioni/prenotazioni.html">
        <img src="../immagini/icone_professioni/avvocato_icon.png">
      </a>

      <a class="my-button rounded-3 shadow" href="../prenotazioni/prenotazioni.html">
        <img src="../immagini/icone_professioni/commercialista_icon.png">
      </a>

      <a class="my-button rounded-3 shadow" href="../prenotazioni/prenotazioni.html">
        <img src="../immagini/icone_professioni/consulente_informatico_icon.png">
      </a>

      <a class="my-button rounded-3 shadow" href="../prenotazioni/prenotazioni.html">
        <img src="../immagini/icone_professioni/dentista_icon.png">
      </a>

      <a class="my-button rounded-3 shadow" href="../prenotazioni/prenotazioni.html">
        <img src="../immagini/icone_professioni/designer_interni_icon.png">
      </a>

      <a class="my-button rounded-3 shadow" href="../prenotazioni/prenotazioni.html">
        <img src="../immagini/icone_professioni/elettricista_icon.png">
      </a>

     </div>
    </div>
  </div>
</div>
  
    <!-- FOOTER -->
    <footer>
      <div class="footer">
        <p>Woofy &copy; 2023</p>
        <ul>
          <li><a href="#">Termini di servizio</a></li>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Contattaci</a></li>
        </ul>
      </div>
    </footer> 

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/bootstrap.min.js"></script>
    <script src="/prenotazioni/script.js"></script>
  </body>

</html>