<!DOCTYPE html>
<html>
  <head>
    <title>Woofy</title>
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap-icons.css">
    
    <link rel="stylesheet" type="text/css" href="/prenotazioni/style.css">

    <link rel="icon" type="image/x-icon" href="/immagini/logo.ico">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/bootstrap.min.js"></script>
    <script src="/prenotazioni/script.js"></script>
  </head>

  <body>
    <!-- NAVBAR -->
    <div class="navbar justify-content-center align-items-center">
      <a class="nav-item mx-3 fw-bold" href="/" target="_parent">Home</a>
      <a class="nav-item mx-3 fw-bold" href="/prenotazioni" target="_parent">Prenotazioni</a>
      <a class="nav-item mx-3 fw-bold" href="/prenota" target="_parent">Prenota</a>
      <% if (loggedIn) { %>
        <a class="nav-item mx-3 fw-bold" href="/logout">Disconnettiti</a>
        <% } else { %>
        <a class="nav-item mx-3 fw-bold" href="/login" target="_parent">Accedi</a>
        <% } %>
    </div>

    <!-- HEADER -->
    <div class="header-container d-flex flex-column align-items-center mt-5">
      <h1 class="text-light">Gestisci le tue prenotazioni</h1>
    </div>
    
    <!-- TIME BOX -->
    <div class="container custom-container2">
      <div class="row">
        <div class="col">
          <div class="container bg-white rounded-3 p-3 mt-2">
            <!-- Scelta orari: -->
            <h3 class="d-flex justify-content-center align-items-center mb-3">Seleziona i giorni della settimana:</h3>
            <div class="row mx-4 mb-3">
              <div class="col">
                <button class="btn btn-primary btn-lg custom-btn">Lun</button>
              </div>
              <div class="col">
                <button class="btn btn-primary btn-lg custom-btn">Mar</button>
              </div>
              <div class="col">
                <button class="btn btn-primary btn-lg custom-btn">Mer</button>
              </div>
              <div class="col">
                <button class="btn btn-primary btn-lg custom-btn">Gio</button>
              </div>
              <div class="col">
                <button class="btn btn-primary btn-lg custom-btn">Ven</button>
              </div>
              <div class="col">
                <button class="btn btn-primary btn-lg custom-btn">Sab</button>
              </div>
              <div class="col">
                <button class="btn btn-primary btn-lg custom-btn">Dom</button>
              </div>
            </div>
            <h3 class="d-flex justify-content-center align-items-center mb-3">Imposta gli orari:</h3>
            <div class="row mx-4">
              <div class="col mt-1">
            <h4 class="d-flex justify-content-center align-items-center mb-3">Dalle</h4>
            </div>
            <div class="col">
              <select class="form-select w-auto mx-2 mt-auto">
                <option disabled selected>--</option>
                <option value="08:00">08:00</option>
                <option value="09:00">09:00</option>
                <option value="10:00">10:00</option>
                <option value="11:00">11:00</option>
                <option value="12:00">12:00</option>
                <option value="13:00">13:00</option>
                <option value="14:00">14:00</option>
                <option value="15:00">15:00</option>
                <option value="16:00">16:00</option>
                <option value="17:00">17:00</option>
                <option value="18:00">18:00</option>
                <option value="19:00">19:00</option>
                <option value="20:00">20:00</option>
              </select>
            </div>
            <div class="col mb-2 mt-1">
            <h4 class="d-flex justify-content-center align-items-center mb-3">alle</h4>
            </div>
            <div class="col">
              <select class="form-select w-auto mx-2 mt-auto">
                <option disabled selected>--</option>
                <option value="08:00">08:00</option>
                <option value="09:00">09:00</option>
                <option value="10:00">10:00</option>
                <option value="11:00">11:00</option>
                <option value="12:00">12:00</option>
                <option value="13:00">13:00</option>
                <option value="14:00">14:00</option>
                <option value="15:00">15:00</option>
                <option value="16:00">16:00</option>
                <option value="17:00">17:00</option>
                <option value="18:00">18:00</option>
                <option value="19:00">19:00</option>
                <option value="20:00">20:00</option>
              </select>
            </div>
          </div>
          <h3 class="d-flex justify-content-center align-items-center mb-3">Imposta la pausa:</h3>
          <div class="row mx-4">
            <div class="col mt-1">
            <h4 class="d-flex justify-content-center align-items-center mb-3">Dalle</h4>
          </div>
          <div class="col">
            <select class="form-select w-auto mx-2 mt-auto">
              <option disabled selected>--</option>
              <option value="08:00">08:00</option>
              <option value="09:00">09:00</option>
              <option value="10:00">10:00</option>
              <option value="11:00">11:00</option>
              <option value="12:00">12:00</option>
              <option value="13:00">13:00</option>
              <option value="14:00">14:00</option>
              <option value="15:00">15:00</option>
              <option value="16:00">16:00</option>
              <option value="17:00">17:00</option>
              <option value="18:00">18:00</option>
              <option value="19:00">19:00</option>
              <option value="20:00">20:00</option>
            </select>
          </div>
          <div class="col mt-1">
          <h4 class="d-flex justify-content-center align-items-center mb-3">alle</h4>
          </div>
          <div class="col mb-3">
            <select class="form-select w-auto mx-2 mt-auto">
              <option disabled selected>--</option>
              <option value="08:00">08:00</option>
              <option value="09:00">09:00</option>
              <option value="10:00">10:00</option>
              <option value="11:00">11:00</option>
              <option value="12:00">12:00</option>
              <option value="13:00">13:00</option>
              <option value="14:00">14:00</option>
              <option value="15:00">15:00</option>
              <option value="16:00">16:00</option>
              <option value="17:00">17:00</option>
              <option value="18:00">18:00</option>
              <option value="19:00">19:00</option>
              <option value="20:00">20:00</option>
            </select>
          </div>
        </div>
            </div>
          </div>
        <div class="col-md-4 p-2">
            <!-- Secondo container -->
            <!-- CALENDAR === CODICE PLACE HOLDER COPIATO E INCOLLATO DA BOOTSTRAP - FRECCE MANCANTI === -->
            <div class="dropdown-menu d-block position-static d-flex flex-column align-items-stretch p-2 mx-0 shadow rounded-3" data-bs-theme="white">
              <div class="d-grid gap-1">
                <div class="cal">
                  <div class="cal-month">
                    <button class="btn cal-btn" type="button">
                      <svg class="bi" width="16" height="16"><use xlink:href="#arrow-left-short"/></svg>
                    </button>
                    <strong class="cal-month-name">June</strong>
                    <select class="form-select cal-month-name d-none">
                      <option value="January">January</option>
                      <option value="February">February</option>
                      <option value="March">March</option>
                      <option value="April">April</option>
                      <option value="May">May</option>
                      <option selected value="June">June</option>
                      <option value="July">July</option>
                      <option value="August">August</option>
                      <option value="September">September</option>
                      <option value="October">October</option>
                      <option value="November">November</option>
                      <option value="December">December</option>
                    </select>
                    <button class="btn cal-btn" type="button">
                      <svg class="bi" width="16" height="16"><use xlink:href="#arrow-right-short"/></svg>
                    </button>
                  </div>
                  <div class="cal-weekdays text-body-secondary">
                    <div class="cal-weekday">Sun</div>
                    <div class="cal-weekday">Mon</div>
                    <div class="cal-weekday">Tue</div>
                    <div class="cal-weekday">Wed</div>
                    <div class="cal-weekday">Thu</div>
                    <div class="cal-weekday">Fri</div>
                    <div class="cal-weekday">Sat</div>
                  </div>
                  <div class="cal-days">
                    <button class="btn cal-btn" disabled type="button">30</button>
                    <button class="btn cal-btn" disabled type="button">31</button>
          
                    <button class="btn cal-btn" type="button">1</button>
                    <button class="btn cal-btn" type="button">2</button>
                    <button class="btn cal-btn" type="button">3</button>
                    <button class="btn cal-btn" type="button">4</button>
                    <button class="btn cal-btn" type="button">5</button>
                    <button class="btn cal-btn" type="button">6</button>
                    <button class="btn cal-btn" type="button">7</button>
          
                    <button class="btn cal-btn" type="button">8</button>
                    <button class="btn cal-btn" type="button">9</button>
                    <button class="btn cal-btn" type="button">10</button>
                    <button class="btn cal-btn" type="button">11</button>
                    <button class="btn cal-btn" type="button">12</button>
                    <button class="btn cal-btn" type="button">13</button>
                    <button class="btn cal-btn" type="button">14</button>
          
                    <button class="btn cal-btn" type="button">15</button>
                    <button class="btn cal-btn" type="button">16</button>
                    <button class="btn cal-btn" type="button">17</button>
                    <button class="btn cal-btn" type="button">18</button>
                    <button class="btn cal-btn" type="button">19</button>
                    <button class="btn cal-btn" type="button">20</button>
                    <button class="btn cal-btn" type="button">21</button>
          
                    <button class="btn cal-btn" type="button">22</button>
                    <button class="btn cal-btn" type="button">23</button>
                    <button class="btn cal-btn" type="button">24</button>
                    <button class="btn cal-btn" type="button">25</button>
                    <button class="btn cal-btn" type="button">26</button>
                    <button class="btn cal-btn" type="button">27</button>
                    <button class="btn cal-btn" type="button">28</button>
          
                    <button class="btn cal-btn" type="button">29</button>
                    <button class="btn cal-btn" type="button">30</button>
                    <button class="btn cal-btn" type="button">31</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    


    <!-- ULTIME 2 PRENOTAZIONI -->
    <div class="container custom-container bg-white mt-5 shadow rounded-3 d-block position-static d-flex flex-column">
      <div class="row">
        <div class="col">
          <!-- Contenuto header -->
          <h2 class="d-flex justify-content-center align-items-center mt-1">Le tue ultime prenotazioni</h2>
        </div>
      </div>
      <div class="row mt-2 d-flex ">
        <div class="col d-flex justify-content-between align-items-center">
          <!-- PICTURE -->
          <div class="col-md-auto d-flex justify-content-center align-items-center my-2 mx-2">
            <div class="picture">
              <img src="../immagini/icone_professioni/parrucchiere_icon.png" class="img-fluid w-55 h-55">
            </div>
          </div>
          <!-- DESCRIPTION -->
          <div class="col-md-auto d-flex justify-content-center align-items-center my-2 mx-3">
            <div class="description">
              <p class="name"> Nome Professionista</p>
              <p class="location">Città, indirizzo</p>
            </div>
          </div>
          <!-- DATA -->
          <div class="col-md-auto d-flex justify-content-center align-items-center my-2 mx-3">
            <div class="description">
              <p class="name"> Data</p>
              <p class="location">Ora</p>
            </div>
          </div>
          <!-- BUTTON -->
          <div class="col-md-auto d-flex justify-content-center align-items-center my-2 mx-3">
            <button class="book-btn btn btn-primary custom-btn"style="width:300px;">Prenota</button>
          </div>
        </div>
      </div>
      <div class="row mt-2 mb-3  d-flex ">
        <div class="col d-flex justify-content-between align-items-center">
          <!-- PICTURE -->
          <div class="col-md-auto d-flex justify-content-center align-items-center my-2 mx-2">
            <div class="picture">
              <img src="../immagini/icone_professioni/parrucchiere_icon.png" class="img-fluid w-55 h-55">
            </div>
          </div>
          <!-- DESCRIPTION -->
          <div class="col-md-auto d-flex justify-content-center align-items-center my-2 mx-3">
            <div class="description">
              <p class="name"> Nome Professionista</p>
              <p class="location">Città, indirizzo</p>
            </div>
          </div>
          <!-- DATA -->
          <div class="col-md-auto d-flex justify-content-center align-items-center my-2 mx-3">
            <div class="description">
              <p class="name"> Data</p>
              <p class="location">Ora</p>
            </div>
          </div>
          <!-- BUTTON -->
          <div class="col-md-auto d-flex justify-content-center align-items-center my-2 mx-3" style="width:300px;">
            <button class="book-btn btn btn-primary custom-btn"style="width:300px;">Prenota</button>
          </div>
        </div>
      </div>
    </div>
    
    

     <!-- I TUOI PROSSIMI APPUNTAMENTI -->
     <div class="container custom-container bg-white mt-5 shadow rounded-3 d-block position-static d-flex flex-column">
      <!--IMMINENTE -->
      <div class="row">
        <div class="col">
          <!-- Contenuto header -->
          <h2 class="d-flex justify-content-center align-items-center mt-1">I tuoi prossimi appuntamenti</h2>
        </div>
      </div>
      <div class="row mt-2 d-flex ">
        <div class="col d-flex justify-content-between align-items-center">
          <!-- PICTURE -->
          <div class="col-md-3 d-flex">
            <div class="picture">
              <img src="../immagini/icone_professioni/parrucchiere_icon.png" class="img-fluid w-55 h-55">
            </div>
          </div>
          <!-- DESCRIPTION -->
          <div class="col-md-5 mt-3">
            <div class="description">
              <p class="name"> Nome Professionista</p>
              <p class="location">Città, indirizzo</p>
            </div>
          </div>
          <!-- DATA -->
          <div class="col-md-3 mt-3">
            <div class="description">
              <p class="name"> Data</p>
              <p class="location">Ora</p>
            </div>
          </div>
        </div>
      </div>
      <!--PROSSIMI -->
      <div class="row mt-2 d-flex">
        <!-- PULSANTI PRENOTAZIONE RAPIDA -->
    <div class="button-container">

      <div class="button-row justify"> <!-- RIGA 1 -->

        <a class="my-button rounded-3 shadow" href="../prenotazioni/prenotazioni.html">
          <img src="../immagini/icone_professioni/architetto_icon.png">
        </a>

        <a class="my-button rounded-3 shadow" href="../prenotazioni/prenotazioni.html">
          <img src="../immagini/icone_professioni/avvocato_icon.png">
        </a>

        <a class="my-button rounded-3 shadow" href="../prenotazioni/prenotazioni.html">
          <img src="../immagini/icone_professioni/commercialista_icon.png">
        </a>

        <a class="my-button rounded-3 shadow" href="../prenotazioni/prenotazioni.html">
          <img src="../immagini/icone_professioni/consulente_informatico_icon.png">
        </a>

        <a class="my-button rounded-3 shadow" href="../prenotazioni/prenotazioni.html">
          <img src="../immagini/icone_professioni/dentista_icon.png">
        </a>

        <a class="my-button rounded-3 shadow" href="../prenotazioni/prenotazioni.html">
          <img src="../immagini/icone_professioni/designer_interni_icon.png">
        </a>

        <a class="my-button rounded-3 shadow" href="../prenotazioni/prenotazioni.html">
          <img src="../immagini/icone_professioni/elettricista_icon.png">
        </a>

       </div>
      </div>
    </div>
  </div>
     




  <!-- VERSIONE UTENTE -->
  <div class="container custom-container2">
    <div class="row">
      <div class="col-md-8">
        <div class="container bg-white rounded-3 p-2 mt-2">
          <h3 class="d-flex justify-content-center align-items-center mb-3">Le tue ultime prenotazioni:</h3>
          <div class="row mt-2 d-flex ">
            <div class="col d-flex justify-content-between align-items-center">
              <!-- PICTURE -->
              <div class="col-md-auto d-flex justify-content-center align-items-center my-2 mx-2">
                <div class="picture">
                  <img src="../immagini/icone_professioni/parrucchiere_icon.png" class="img-fluid w-55 h-55">
                </div>
              </div>
              <!-- DESCRIPTION -->
              <div class="col-md-auto d-flex justify-content-center align-items-center my-2 mx-3">
                <div class="description">
                  <p class="name"> Nome Professionista</p>
                  <p class="location">Città, indirizzo</p>
                </div>
              </div>
              <!-- DATA -->
              <div class="col-md-auto d-flex justify-content-center align-items-center my-2 mx-3">
                <div class="description">
                  <p class="name"> Data</p>
                  <p class="location">Ora</p>
                </div>
              </div>
              <!-- BUTTON -->
              <div class="col-md-auto d-flex justify-content-center align-items-center my-2 mx-3">
                <button class="book-btn btn btn-primary custom-btn"style="width:300px;">Prenota</button>
              </div>
            </div>
          </div>
        <div class="row mt-2 d-flex ">
          <div class="col d-flex justify-content-between align-items-center">
            <!-- PICTURE -->
            <div class="col-md-auto d-flex justify-content-center align-items-center my-2 mx-2">
              <div class="picture">
                <img src="../immagini/icone_professioni/parrucchiere_icon.png" class="img-fluid w-55 h-55">
              </div>
            </div>
            <!-- DESCRIPTION -->
            <div class="col-md-auto d-flex justify-content-center align-items-center my-2 mx-3">
              <div class="description">
                <p class="name"> Nome Professionista</p>
                <p class="location">Città, indirizzo</p>
              </div>
            </div>
            <!-- DATA -->
            <div class="col-md-auto d-flex justify-content-center align-items-center my-2 mx-3">
              <div class="description">
                <p class="name"> Data</p>
                <p class="location">Ora</p>
              </div>
            </div>
            <!-- BUTTON -->
            <div class="col-md-auto d-flex justify-content-center align-items-center my-2 mx-3">
              <button class="book-btn btn btn-primary custom-btn"style="width:300px;">Prenota</button>
            </div>
          </div>
        </div>
          </div>
        </div>
      <div class="col-md-4 p-2">
          <!-- Secondo container -->
          <!-- CALENDAR === CODICE PLACE HOLDER COPIATO E INCOLLATO DA BOOTSTRAP - FRECCE MANCANTI === -->
          <div class="dropdown-menu d-block position-static d-flex flex-column align-items-stretch p-2 mx-0 shadow rounded-3" data-bs-theme="white">
            <div class="d-grid gap-1">
              <div class="cal">
                <div class="cal-month">
                  <button class="btn cal-btn" type="button">
                    <svg class="bi" width="16" height="16"><use xlink:href="#arrow-left-short"/></svg>
                  </button>
                  <strong class="cal-month-name">June</strong>
                  <select class="form-select cal-month-name d-none">
                    <option value="January">January</option>
                    <option value="February">February</option>
                    <option value="March">March</option>
                    <option value="April">April</option>
                    <option value="May">May</option>
                    <option selected value="June">June</option>
                    <option value="July">July</option>
                    <option value="August">August</option>
                    <option value="September">September</option>
                    <option value="October">October</option>
                    <option value="November">November</option>
                    <option value="December">December</option>
                  </select>
                  <button class="btn cal-btn" type="button">
                    <svg class="bi" width="16" height="16"><use xlink:href="#arrow-right-short"/></svg>
                  </button>
                </div>
                <div class="cal-weekdays text-body-secondary">
                  <div class="cal-weekday">Sun</div>
                  <div class="cal-weekday">Mon</div>
                  <div class="cal-weekday">Tue</div>
                  <div class="cal-weekday">Wed</div>
                  <div class="cal-weekday">Thu</div>
                  <div class="cal-weekday">Fri</div>
                  <div class="cal-weekday">Sat</div>
                </div>
                <div class="cal-days">
                  <button class="btn cal-btn" disabled type="button">30</button>
                  <button class="btn cal-btn" disabled type="button">31</button>
        
                  <button class="btn cal-btn" type="button">1</button>
                  <button class="btn cal-btn" type="button">2</button>
                  <button class="btn cal-btn" type="button">3</button>
                  <button class="btn cal-btn" type="button">4</button>
                  <button class="btn cal-btn" type="button">5</button>
                  <button class="btn cal-btn" type="button">6</button>
                  <button class="btn cal-btn" type="button">7</button>
        
                  <button class="btn cal-btn" type="button">8</button>
                  <button class="btn cal-btn" type="button">9</button>
                  <button class="btn cal-btn" type="button">10</button>
                  <button class="btn cal-btn" type="button">11</button>
                  <button class="btn cal-btn" type="button">12</button>
                  <button class="btn cal-btn" type="button">13</button>
                  <button class="btn cal-btn" type="button">14</button>
        
                  <button class="btn cal-btn" type="button">15</button>
                  <button class="btn cal-btn" type="button">16</button>
                  <button class="btn cal-btn" type="button">17</button>
                  <button class="btn cal-btn" type="button">18</button>
                  <button class="btn cal-btn" type="button">19</button>
                  <button class="btn cal-btn" type="button">20</button>
                  <button class="btn cal-btn" type="button">21</button>
        
                  <button class="btn cal-btn" type="button">22</button>
                  <button class="btn cal-btn" type="button">23</button>
                  <button class="btn cal-btn" type="button">24</button>
                  <button class="btn cal-btn" type="button">25</button>
                  <button class="btn cal-btn" type="button">26</button>
                  <button class="btn cal-btn" type="button">27</button>
                  <button class="btn cal-btn" type="button">28</button>
        
                  <button class="btn cal-btn" type="button">29</button>
                  <button class="btn cal-btn" type="button">30</button>
                  <button class="btn cal-btn" type="button">31</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </body>

</html>