body{
  background-image: radial-gradient(circle, #1c3c82, #000436);
  /* background-color: #fff;*/
}
/* NAVBAR */
.nav-item {
  position: relative;
  color: white;
  text-decoration: none;
}
.nav-item::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  background-color: white;
  transition: width 0.5s ease-in-out;
}
.nav-item:hover::after {
  width: 100%;
  transform: scaleX(0.5);
}
.scrolled {
  background-color: #000436;
}






/* HEADER */
.header-container {
  margin-top: 100px;
  margin-bottom: 60px;
}


/* BUTTONS */
.btn.custom-btn {
  background-color: #777777;
  border-color: #777777;
  transition: transform 0.5s;
}
.btn.custom-btn:hover {
  background-color: #333;
  border-color: #333; 
  transform:scale(1.05);
}





/* CALENDAR (BOOTSTRAP) 
.dropdown-item-danger {
  color: var(--bs-red);
}
.dropdown-item-danger:hover,
.dropdown-item-danger:focus {
  color: #fff;
  background-color: var(--bs-red);
}
.dropdown-item-danger.active {
  background-color: var(--bs-red);
}

.btn-hover-light {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
}
.btn-hover-light:hover,
.btn-hover-light:focus {
  color: var(--bs-link-hover-color);
  background-color: var(--bs-tertiary-bg);
}

.cal-month,
.cal-days,
.cal-weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
}
.cal-month-name {
  grid-column-start: 2;
  grid-column-end: 7;
  text-align: center;
}
.cal-weekday,
.cal-btn {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  height: 3rem;
  padding: 0;
}
.cal-btn:not([disabled]) {
  font-weight: 500;
  color: var(--bs-emphasis-color);
}
.cal-btn:hover,
.cal-btn:focus {
  background-color: var(--bs-secondary-bg);
}
.cal-btn[disabled] {
  border: 0;
  opacity: .5;
}

.w-220px {
  width: 220px;
}

.w-280px {
  width: 280px;
}

.w-340px {
  width: 340px;
}

.opacity-10 {
  opacity: .1;
}

*/

/* BOX */
.picture img { /* DA RIVEDERE (espresso in pixel?) <-------------------------- */
  width: 120px;
  height: 120px;
}

.custom-pic{
  margin-left: 5px; 
}

/* BUTTONS */
.btn.custom-btn {
  background-color: #777777;
  border-color: #777777;
  transition: transform 0.5s;
}
.btn.custom-btn:hover {
  background-color: #333;
  border-color: #333; 
  transform:scale(1.05);
}
.btn.book-btn {
  padding: 50px;
}
.time-button {
  font-size: 20px;
  padding: 10px 20px;
}
/* BOTTONI PRENOTAZIONE RAPIDA */
.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 3%;
  margin-top: 80px;
}
.my-button {
  background-color: #ffffff;
  display: inline-block;
  position: relative;
  /* overflow: hidden; */
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3); /* Aggiunta dell'ombra */
  border-radius: 8px; /* Aggiunta dei bordi arrotondati */
  transition: all 0.3s ease-in-out;
  width: 125px;
  height: 125px;
  margin-right: 50px;
  margin-bottom: 30px;
}
.my-button:hover {
  transform: scale(1.15);
}
.my-button img {
  display: block;
  max-width: 100%;
  height: auto;
}
.my-button span {
  position: absolute;
  bottom: -32px;
  left: 0;
  right: 0;
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
}
.my-button:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease-in-out;
}
.my-button:hover:before {
  opacity: 0;
}
.button-row {
  margin-bottom: 30px;
}
.mybutton.shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.custom-container2 {
  --bs-gutter-x: 0;
}

.user-btn{
  width:300px;
}
.last-button{
  width:300px;
}




/* FOOTER */
footer {
  padding: 20px 0;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  background-color: transparent;
  font-family: "Helvetica Neue", Arial, sans-serif;
  }

footer .container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

footer ul li {
  margin: 0 10px;
}
footer ul li:first-child {
  margin-left: 0;
}

footer ul li:last-child {
  margin-right: 0;
}

footer ul li a {
  color: #ffffff;
  text-decoration: none;
}

footer ul li a:hover {
  color: #ffffff;
}
.custom-row > * {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.custom-dropdown{
  min-height: 22.4rem;
 }



/* CALENDARIO */
.calendar {
  height: max-content;
  width: max-content;
  background-color: var(--bg-main);
  border-radius: 30px;
  padding: 20px;
  position: relative;
  overflow: hidden;
  margin: 0 auto; /* Aggiungi questa riga per centrare orizzontalmente */
}


.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
    color: var(--color-txt);
    padding: 10px;
}

.calendar-body {
    padding: 10px;
}

.calendar-week-day {
    height: 50px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: 600;
}

.calendar-week-day div {
    display: grid;
    place-items: center;
    color: var(--bg-second);
}

.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
    color: var(--color-txt);
}

.calendar-days div {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: relative;
    cursor: pointer;
    animation: to-top 1s forwards;
}

.calendar-days div span {
    position: absolute;
}

.calendar-days div:hover span {
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
}

.calendar-days div span:nth-child(1),
.calendar-days div span:nth-child(3) {
    width: 2px;
    height: 0;
    background-color: var(--color-txt);
}

.calendar-days div:hover span:nth-child(1),
.calendar-days div:hover span:nth-child(3) {
    height: 100%;
}

.calendar-days div span:nth-child(1) {
    bottom: 0;
    left: 0;
}

.calendar-days div span:nth-child(3) {
    top: 0;
    right: 0;
}

.calendar-days div span:nth-child(2),
.calendar-days div span:nth-child(4) {
    width: 0;
    height: 2px;
    background-color: var(--color-txt);
}

.calendar-days div:hover span:nth-child(2),
.calendar-days div:hover span:nth-child(4) {
    width: 100%;
}

.calendar-days div span:nth-child(2) {
    top: 0;
    left: 0;
}

.calendar-days div span:nth-child(4) {
    bottom: 0;
    right: 0;
}

.calendar-days div:hover span:nth-child(2) {
    transition-delay: 0.2s;
}

.calendar-days div:hover span:nth-child(3) {
    transition-delay: 0.4s;
}

.calendar-days div:hover span:nth-child(4) {
    transition-delay: 0.6s;
}

.calendar-days div.curr-date,
.calendar-days div.curr-date:hover {
    background-color: var(--blue);
    color: var(--white);
    border-radius: 50%;
}

.calendar-days div.curr-date span {
    display: none;
}

.month-picker {
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.month-picker:hover {
    background-color: var(white);
}

.year-picker {
    display: flex;
    align-items: center;
}

.year-change {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin: 0 10px;
    cursor: pointer;
}

.year-change:hover {
    background-color: var(white);
}

.calendar-footer {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.toggle {
    display: flex;
}

.toggle span {
    margin-right: 10px;
    color: var(--color-txt);
}

.month-list {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--bg-main);
    padding: 20px;
    grid-template-columns: repeat(3, auto);
    gap: 5px;
    display: grid;
    transform: scale(1.5);
    visibility: hidden;
    pointer-events: none;
}

.month-list.show {
    transform: scale(1);
    visibility: visible;
    pointer-events: visible;
    transition: all 0.2s ease-in-out;
    background-color: white;
}

.month-list > div {
    display: grid;
    place-items: center;
}

.month-list > div > div {
    width: 100%;
    padding: 5px 20px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    color: var(--color-txt);
}

.month-list > div > div:hover {
    background-color: var(--color-hover);
}



/* @media query */


@media (max-width: 1400px) {
  .my-button{
  width: 90px;
  height: 90px;
  }
  .time-button {
    font-size: 15px;
    padding: 13px 17px;
  }
  .custom-dropdown{
    min-height: 22.5rem;
   }
   .last-button{
    width: 130px;
    height: 100px;
    font-size:18px;
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
   }
}

@media (max-width: 1199px) {
  .my-button{
  width: 70px;
  height: 70px;  
  }
  .time-button {
    font-size: 13px;
    padding: 12px 14px;
  }
  .user-btn{
    width: 150px;
  }
  .timebox-row > *{
    padding-right: 0 !important;
  }
  .custom-dropdown{
    min-height: 21rem;
   }
   .small-row{
    margin-left: 0!important;
   }
}

@media (max-width: 1060px) {
  .timebox-row {
    flex-wrap: wrap;
    gap:20px;
  }
  .col-8 {
    width: 80%;
    margin: 0 auto;
    }
  .col-4 {
    width: 100%;
  }
}
  
@media (max-width: 991px) { 
  .time-button {
    font-size: 13px;
    padding: 10px 20px;
    margin-bottom: 10px;
  }
  .small-text{
   font-size:20px; 
  }
  .custom-col{
      max-width: 50%;
    }   
  }
  @media (max-width: 767px) {
    .time-button {
      font-size: 10px;
      padding: 8px 10px;
      margin-bottom: 5px;
    }
    .small-text{
      font-size:15px; 
     }
     .custom-col{
      max-width: 66%;
      margin-bottom: 10px;
    } 
    .last-button{
      width: 70px;
      height: 70px;
      font-size:13px;
      }
    .btn.book-btn {
        padding: 8px;
      }
    .last-col{
        max-width: 10px;
      }
    .custom-pic > *{
      margin-left: 1px !important;
    }
    .custom-container3{
      max-width: 400px;
    }
    .small-row {
      flex-wrap: nowrap;
    }
  }
     
    @media (max-width: 580px) { 
      .custom-container4{
      max-width: 470px;
      }
      .last-button{
        width: 60px;
        height: 60px;
        font-size:13px;
        }
        .custom-pic > *{
          width: 90px !important;
          height: 90px !important;
        }
        .small-text{
          font-size:13px;
        }
        .custom-col{
          max-width: 67%;
          } 
          .custom-container2> * {
            --bs-gutter-x: 0 !important;
            
          }
    } 

