body{
  background-image: radial-gradient(circle, #0e214a, #000436);
}
/* Stile del menu */
nav {
  background-color: transparent;
  text-align: center;
  font-family: "Helvetica Neue", Arial, sans-serif;
  margin-top: -8px;
  margin-left: -8px;
  margin-right: -8px;
}

nav ul {
  list-style-type: none;
  margin: 3px;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

nav li {
  display: inline-block;
  margin-right: 10px;
}

nav li:last-child {
  margin-left: auto;
}

nav a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  background-image: linear-gradient(to left, transparent 0%, transparent 50%, rgb(255, 255, 255) 50%, rgb(255, 255, 255) 100%);
  background-size: 200% 3px;
  background-position: right bottom;
  background-repeat: no-repeat;
  transition: background-position 0.3s ease-in-out;
}

nav a:hover {
  background-position: left bottom;
}


/* Stile del login */
.login {
  background-color: rgba(0, 0, 0, 0.5);
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-color: #fefefe;
  margin: 7% auto;
  padding: 100px;
  border: 1px solid #fff;
  width: 300px;
  text-align: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.login h1 {
  margin-top: -80px;
}

.login h2 {
  margin-top: -30px;
  font-size: 20px;
}

.login input {
  display: block;
  padding: 12px;
  border: 2px solid #333;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
  width: 300px;
}

.login button {
  display: block;
  padding: 10px;
  border: 1px solid #888;
  border-radius: 5px;
  margin-bottom: -110px;
  background-color: #333;
  color: #fff;
  border: none;
  font-size: larger;
} 

.login-buttons-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-buttons-area button:first-child{
  margin-top: 35px;
  margin-right: 150px;
  background-color: #fff;
  color: #333;
  width:max-content;
}

