<!DOCTYPE html>
<html>
  <head>
    <title>Woofy</title>
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="/login/style.css">
    <link rel="icon" type="image/x-icon" href="/immagini/logo.ico">
  </head>

  <body>
    <!-- NAVBAR -->
    <div class="navbar justify-content-center align-items-center">
      <a class="nav-item mx-3 fw-bold" href="/" target="_parent">Home</a>
      <a class="nav-item mx-3 fw-bold" href="/prenotazioni" target="_parent">Prenotazioni</a>
      <a class="nav-item mx-3 fw-bold" href="/prenota" target="_parent">Prenota</a>
      <a class="nav-item mx-3 fw-bold" href="/login" target="_parent">Accedi</a>
    </div>

    <!-- LOGIN -->
    <div class="login">
      <h1>Woofy</h1>
      <h2>Accedi alla piattaforma</h2>
      <form action="/login" method="POST">
        <input type="string" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required>

        <div class="login-buttons-area">
          <a href="/registrazione">
            <button type="button">Crea un account</button>
          </a>
          <button type="submit" class="btn btn-primary btn-lg custom-btn">Continua</button>
        </div>

      </form>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/bootstrap.bundle.min.js"></script>
    <script src="/prenotazioni/script.js"></script>
  </body>
</html>

