<!DOCTYPE html>
<html>
  <head>
    <title>Woofy</title>
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="/home/style.css">
    <link rel="icon" type="image/x-icon" href="/immagini/logo.ico">
  </head>

  <body>
    <!-- NAVBAR -->
    <div class="navbar justify-content-center align-items-center">
      <a class="nav-item mx-3 fw-bold" href="/" target="_parent">Home</a>
      <a class="nav-item mx-3 fw-bold" href="/prenotazioni" target="_parent">Prenotazioni</a>
      <a class="nav-item mx-3 fw-bold" href="/prenota" target="_parent">Prenota</a>
      <% if (loggedIn) { %>
        <a class="nav-item mx-3 fw-bold" href="/logout">Disconnettiti</a>
        <% } else { %>
        <a class="nav-item mx-3 fw-bold" href="/login" target="_parent">Accedi</a>
        <% } %>
    </div>
    
    <!-- HEADER -->
    <div class="header-container d-flex flex-column align-items-center">
      <h1 class="text-light display-1 fw-bold">Woofy</h1>
      <p class="text-light display-6">La soluzione perfetta per le tue esigenze di prenotazione</p>
    </div>

    <!-- INFO-BOX -->
    <% if (loggedIn) { %>
      <!-- Codice da eseguire se l'utente è loggato -->
    
    <div class="container info-box small-info-box bg-light rounded-3 shadow d-flex align-items-center justify-content-center" style="width: 700px; height: 300px;">
      <div class="row">

          <div class="col-8 info-text d-flex flex-column justify-content-center align-items-center" style="width: 500px; height: 300px;">
            <p class="fs-4 fw-bold">Prossimo appuntamento tra: 01:01</p>
            <p class="fs-5">Con Tiziano a Via Scarpa</p>
          </div>

          <div class="col-4 info-img d-flex justify-content-center align-items-end" style="width: 200px; height: 300px;">
            <img src="../immagini/omino_home.png" alt="Descrizione immagine" class="img-fluid">
          </div>

      </div>
    </div>
  
    <% } %>

    <!-- PULSANTI PRENOTAZIONE RAPIDA -->
    <div class="button-container">

      <div class="button-row"> <!-- RIGA 1 -->

        <a class="my-button rounded-3 shadow" data-professione="Architetto">
          <img src="../immagini/icone_professioni/architetto_icon.png">
          <span>Architetto</span>
        </a>        

        <a class="my-button rounded-3 shadow" data-professione="Avvocato">
          <img src="../immagini/icone_professioni/avvocato_icon.png">
          <span>Avvocato</span>
        </a>
        

        <a class="my-button rounded-3 shadow" data-professione="Commercialista">
          <img src="../immagini/icone_professioni/commercialista_icon.png">
          <span>Commercialista</span>
        </a>

        <a class="my-button rounded-3 shadow" data-professione="Consulente IT">
          <img src="../immagini/icone_professioni/consulente_informatico_icon.png">
          <span>Consulente IT</span>
        </a>

        <a class="my-button rounded-3 shadow" data-professione="Dentista">
          <img src="../immagini/icone_professioni/dentista_icon.png">
          <span>Dentista</span>
        </a>

        <a class="my-button rounded-3 shadow" data-professione="Designer d'Interni">
          <img src="../immagini/icone_professioni/designer_interni_icon.png">
          <span>Designer d'Interni</span>
        </a>

        <a class="my-button rounded-3 shadow" data-professione="Elettricista">
          <img src="../immagini/icone_professioni/elettricista_icon.png">
          <span>Elettricista</span>
        </a>

        <a class="my-button rounded-3 shadow" data-professione="Estetista">
          <img src="../immagini/icone_professioni/estetista_icon.png">
          <span>Estetista</span>
        </a>

      </div>

      <div class="button-row"> <!-- RIGA 2 -->

        <a class="my-button rounded-3 shadow" data-professione="Fisioterapista">
          <img src="../immagini/icone_professioni/fisioterapista_icon.png">
          <span>Fisioterapista</span>
        </a>

        <a class="my-button rounded-3 shadow" data-professione="Fotografo">
          <img src="../immagini/icone_professioni/fotografo_icon.png">
          <span>Fotografo</span>
        </a>

        <a class="my-button rounded-3 shadow" data-professione="Idraulico">
          <img src="../immagini/icone_professioni/idraulico_icon.png">
          <span>Idraulico</span>
        </a>

        <a class="my-button rounded-3 shadow" data-professione="Medico">
          <img src="../immagini/icone_professioni/medico_icon.png">
          <span>Medico</span>
        </a>
        
        
        

        <a class="my-button rounded-3 shadow" data-professione="Notaio">
          <img src="../immagini/icone_professioni/notaio_icon.png">
          <span>Notaio</span>
        </a>

        <a class="my-button rounded-3 shadow" data-professione="Nutrizionista">
          <img src="../immagini/icone_professioni/nutrizionista_icon.png">
          <span>Nutrizionista</span>
        </a>

        <a class="my-button rounded-3 shadow" data-professione="Osteopata">
          <img src="../immagini/icone_professioni/osteopata_icon.png">
          <span>Osteopata</span>
        </a>

        <a class="my-button rounded-3 shadow" data-professione="Parrucchiere">
          <img src="../immagini/icone_professioni/parrucchiere_icon.png">
          <span>Parrucchiere</span>
        </a>

      </div>

      <div class="button-row"> <!-- RIGA 3 -->

        <a class="my-button rounded-3 shadow" data-professione="Psicologo">
          <img src="../immagini/icone_professioni/psicologo_icon.png">
          <span>Psicologo</span>
        </a>

        <a class="my-button rounded-3 shadow" data-professione="Sarto">
          <img src="../immagini/icone_professioni/sarto_icon.png">
          <span>Sarto</span>
        </a>

        <a class="my-button rounded-3 shadow" data-professione="Tatuatore">
          <img src="../immagini/icone_professioni/tatuatore_icon.png">
          <span>Tatuatore</span>
        </a>

        <a class="my-button rounded-3 shadow" data-professione="Veterinario">
          <img src="../immagini/icone_professioni/veterinario_icon.png">
          <span>Veterinario</span>
        </a>

      </div>
      
    </div>


    <!-- FOOTER -->
    <footer>
      <div class="footer">
        <p>Woofy &copy; 2023</p>
        <ul>
          <li><a href="#">Termini di servizio</a></li>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Contattaci</a></li>
        </ul>
      </div>
    </footer> 

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/bootstrap.min.js"></script>
    <script src="/home/script.js"></script>
  </body>
</html>