body{
  background-image: radial-gradient(circle, #1c3c82, #000436);
}

/* STILE DELLA BARRA DEL MENU */
.nav-item {
  font-weight: bold;
  position: relative;
}

.nav-item::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  background-color: white;
  transition: width 0.5s ease-in-out;
}

.nav-item:hover::after {
  width: 100%;
  transform: scaleX(0.5);
}

.scrolled {
  background-color: #000436;
}







/* STILE DELLA PAGINA */
.content {
  text-align: center;
  margin-top: 50px;
  height:200px;  /*distanza tra titolo e sottostante */
}

.content h1 {
  font-size: 72px;
  color: #fff;
}

.content .slogan {
  font-size: 24px;
  color: #fff;
}


/* stile dei box */
.box {
    width: 45%;
    padding: 20px;
    margin: 20px 2.5%;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    border: 1px solid #ccc;
    background-color: #fefefe;
    border-radius: 10px;
}
/* stile dei pulsanti */
button {
  padding: 17px;
  margin: 15px;
  background-color: #333;
  border: 1px solid #888;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
/* stile del calendario */
#calendar {
  width: 100%;
  height: 300px;
  border: 1px solid #ccc;
}
  
/* stile della lista delle prenotazioni */
#last-bookings ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
  
/* stile delle singole prenotazioni */
.booking {
  margin: 10px 0;
  padding: 10px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
}

/* stile dei box ora */
.box-ora {
  width: 80px;
  margin: 0 5px;
  font-size: 16px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 2px;
}

/* stile del paragrafo degli orari */
.orari p {
  font-size: 25px;
  margin-top: 80px;
}
/* stile del box scelta orari */
select {
  width: 5%;
}








/* STILE DEL FOOTER */
footer {
  padding: 20px 0;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  background-color: transparent;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

footer .container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

footer ul li {
  margin: 0 10px;
}

footer ul li:first-child {
  margin-left: 0;
}

footer ul li:last-child {
  margin-right: 0;
}

footer ul li a {
  color: #ffffff;
  text-decoration: none;
}

footer ul li a:hover {
  color: #ffffff;
}